.main {
    background-image: linear-gradient(to bottom, #bacec1, white); 
    min-height: calc(100vh - 58.25px); 
    padding:30px 0px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.main > div {
    width: 60%;
}

.main div h2 {
    color: black;
    margin-bottom: 25px;
}

.description {
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    outline: none;
    border: solid #bacec1 1px;
}
.description p {
    font-size: 15px !important;
}

.write_btn {
    font-size: 15px !important;
    padding: 6px 20px !important;
}