/* 테이블 */
.raw-data {
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgba(0, 0, 0, 0);
}
.raw-data:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* 페이지바 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination a {
    color: #007bff;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f2f2f2;
}

.pagination .current {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
}