{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'board/common.css' %}">
<link rel="stylesheet" href="{% static 'board/detail_style.css' %}">
<script src="{% static 'board/js/detail.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="hero text-center text-white main">
    <div>
        <h2 class="display-6 mt-3">자유 게시판</h2>
        
        <div class="description mb-2">
            <p class="lead m-0" style="text-align: left;">
                1. 커뮤니티 매너를 지켜 즐겁게 소통하며, 자유게시판을 적절하게 이용해 주세요.<br/>
                2. 비회원은 글이나 댓글 작성이 불가능하며, 조회만 가능합니다.
            </p>
        </div>

        <div><a class="btn btn-primary mt-2 write_btn" href="/board/write/?page={{ cur_page }}" style="float:right;">새로운 글 작성</a></div>

        <div class="post-content">
            <h2>{{ post.title }}</h2>
            <p style="white-space: pre-line;">{{ post.body }}</p>
            <p>작성자: {{ post.user.user_name }}</p>
            <p>작성일시: {{ post.created_datetime }}</p>
            
            <div class="my-4">
                <a href="/board/?page={{ cur_page }}" class="btn btn-primary" style="margin-right: 5px;">목록</a>
                <a href="/board/modify/{{ post.board_id }}/?page={{ cur_page }}" class="btn btn-primary" style="margin: 0 5px;">수정</a>
                <button onclick="del_post({{ post.board_id }}, {{ cur_page }})" class="btn btn-danger" style="margin-left: 5px;">삭제</button>
            </div>
        </div>
        <hr/>


        <div class="comment-form">
            <form action="{% url 'board:comment-write' %}" method="post">
                {% csrf_token %}
                <input name="board_id" value="{{ post.board_id }}" hidden />
                <input name="cur_page" value="{{ cur_page }}" hidden />
                <textarea name="comment_content" id="comment_content" rows="3" placeholder="댓글을 입력하세요" maxlength="100" required></textarea>
                <button type="submit" id="form-submit" class="btn btn-primary comment-btn">댓글 작성</button>
            </form>
        </div>


        
        {% for comment in comments %}
            <div class="comment">
                <span style="color:black;">{{ comment.comment_content }} | {{ comment.created_datetime }} | 작성자: {{ comment.user.user_name }}</span>
                <a onClick="commnt_del('{{ comment.comment_id }}')" title="삭제" class="btn del-btn ml-3">
                    <span class="material-icons close-icon">close</span>
                </a>
            </div>
        {% endfor %}
        

    </div>
</div>
{% endblock %}

