{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'gtp/style.css' %}">
{% endblock %}

{% block content %}
<div class="hero text-center text-white main">
    <div>
        <h2 class="display-6 mt-3">ChatGPT에게 요청하기</h2>
        <p class="lead mb-5 loading">
            답변이 길어질 경우 로딩 시간이 오래 걸릴 수 있습니다.
        </p>

        <form action="chat" method="post" entype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <div id="file-module-0">
                <textarea id="question" name="question" placeholder="질문을 입력해 주세요."></textarea>
                <div class="select-type mt-2">
                    <label><input type="radio" value="text" name="type" checked />  텍스트로 답변받기</label>
                    <label><input type="radio" value="image" name="type"/>  이미지로 답변받기</label>
                </div>
            </div>
            <div><button id="text-button" class="btn btn-primary my-4 question_btn" type="submit" >질문하기</button></div>
        </form>
    <div>
</div>
{% endblock %}

